/*  ******************************************************
    BASE
    ******************************************************  */
    
*{
    background-color:  #ece8e0;
}    
.section{
    background-color: black;
}
#main{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}
header{
    background-image: url(../images/copy4.jpg);
    background-repeat: no-repeat;
    background-position: 78%;
    background-size:cover;
    border-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(120, 79%, 64%, 0.3)) fill 1;
    flex-grow:1;
    overflow:auto;
}

.navbar{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    border-bottom: 3px solid green;
    align-items: center;
}

.navmenu{
    display:flex;
    gap: 60px;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 5px;
}

.navbar ul li{
    font-weight: bold;
    font-size: 16px;
    font-family: "Inter",sans-serif;
    list-style-type: none;
}

.navbarLinks{
    text-decoration: none;
    color: black;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display: block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: green;
}

.mainName,.mainName h1,.movingTextContainer,
.movingTextContainer h3, .movingTextContainer h3 span,
.introContainer,.introContainer p{
    background-color: unset;
}

#main .mainName, #main .movingTextContainer, #main .introContainer{
    padding-left: 10%;
    padding-right: 10%;
}
.mainName {
    padding-top: 2%;
    font-size: 80px;
    font-family: "Inter",sans-serif;
    width:40%;
}

.movingtext{
    font-style: italic;
    font-family: "inter",sans-serif;
    margin-top: 5%;
}

#typewriter{
    font-size: 35px;
}

#cursor{
    font-size:35px;
    animation: blink 1s linear infinite;
}

.introContainer{
    margin-top: 3%;
}
.intropara{
    font-family: "Garamound";
    font-size: 25px;
    font-weight: 500;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

#mainAboutme{
    background-color:#ece8e0;
}

.aboutme{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.aboutme h1{
    color: green;
    font-family: "Inter", sans-serif;
    border-bottom: 2px solid green;
}
.aboutmepara{
    color: black;
    padding-top: 2%;
    font-family: "Inter",sans-serif;
    line-height: 1.4em;
    font-size: 18px;
}

.skills{
    color: green;
    background-color: #ece8e0;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.skills h1 {
    font-family: "Inter", sans-serif;
    border-bottom: 2px solid green;
}

.grid {
    background-color: #ece8e0;
    margin-top: 2%;
    padding: 16px;
    padding-bottom: 16px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-gap: 16px;
    .skill-cardeven, .skill-cardodd {
        border: 2px solid green;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: transform 0.2s;
        padding: 16px;
    }
}

.skill-cardeven, .skill-cardodd{
    background-color:#ece8e0;
}

.skill-cardeven *, .skill-cardodd *{
    background-color:#ece8e0;
    color: green;
}

.skill-cardeven ul, .skill-cardodd ul{
    margin-left: 15px;
}
.skill-cardeven ul li, .skill-cardodd ul li {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    line-height: 1.4em;
    color: black;
}

.skill-cardeven h3, .skill-cardodd h3 {
    font-family: "Inter",sans-serif;
    border-bottom: 1px solid green;
}

.skill-cardeven:hover, .skill-cardodd:hover {
    transform: scale(1.02);
}

.footer{
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.connect{
    border-top: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    list-style-type: none;
}

.connect li {
    margin: 0 20px;
}
.connect li a{ 
    text-decoration: none;
    color: black;
}

body, html {
    scroll-behavior: smooth;
}

/*  ******************************************************
    LAYOUT
    *******************************************************/  

*{
    margin:0;
    padding:0;
}

.container{
    width:100%;
    height: 100vh;
}

.section{
    width: 100%;
    height:100vh;
}

/*  ******************************************************
    MODULES
    *******************************************************/
/* Adjust font size for main headings */
    @media (max-width: 1283px){
    .mainName{
        font-size: 5vw;
    }
    .movingtext{
        font-size: 4vw;
    }
    #typewriter{
        font-size: 5vw;
    }
    
    #cursor{
        font-size: 5vw;
    }
    .intropara{
        font-size: 4vh;
    }
}

/* add flex to header to align main headings */
@media (max-width: 880px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .intropara{
        padding-bottom: 5%;
    }
}

/* change display for navbar */
@media (max-width: 700px){
    .mainName{
        font-size: 6vw;
    }
    .navbar{
        padding-left: 10px;
        justify-content:flex-start;
        align-items: center;
    }
    .navbar ul li{
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navmenu{
        position: fixed;
        left: -110%;
        top:30px;
        gap: 0;
        flex-direction: column;
        text-align: flex-start;
        padding-left: 10px;
        transition: 0.3s;
        background-color:#ece8e0;
        width: 100%;
    }
    .navmenu.active{
        left:0;
    }
}

@media (max-width: 580px){
    .intropara{
        font-size: 5vw;
    }
}
/* adjust moving text and short para font */
@media (max-width: 430px){
    #typewriter{
        font-size: 30px;
    }
    #cursor{
        font-size: 30px;
    }
    .intropara{
        font-size: 20px;
    }
}
/* skills card layout */
@media (min-width: 760px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
